.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'Changa', sans-serif;
    font-weight: 400;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      animation: fadeIn 0.2s 0.5s backwards;
      opacity: 0.9;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 62px;
      margin-left: -15px;
      animation: fadeIn 1s 2.5s backwards;
      opacity: 0.9;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 50px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 52px;
    float: left;
    animation: fadeInAnimation 2s 2.2s backwards;
    animation-delay: 2.9s;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
  .firstTitle {
    letter-spacing: 2px;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeInLeft 1s forwards;
    animation-delay: 1s;
  }

  .secondTitle {
    letter-spacing: 2px;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeInRight 2s forwards;
    animation-delay: 2s;
  }

  .myServices {
    color: #ffd700;
    font-size: 46px;
    opacity: 0;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeInLeft 2.5s forwards;
    animation-delay: 2.5s;
    font-family: 'Alegreya Sans SC', sans-serif;
  }

  .image-container {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    top: 0;
    margin-top: -3%;
    margin-right: -20%;
    overflow: hidden;

    .image {
      position: absolute;
      top: 20%;
      bottom: 20%;
      right: 20%;
      width: 350px;
      opacity: 0;
      z-index: 1;
      transform-style: preserve-3d;
      animation: fadeInRight 2s forwards;
      animation-delay: 2s;
    }
  }
}

@media screen and (max-width: 1200px) {
  .tags,
  .home-page h1:before,
  .home-page h1:after {
    display: none;
  }

  .home-page .text-zone {
    position: initial;
    width: 100%;
    transform: none;
    padding: 10px;
    box-sizing: border-box;
  }

  .home-page .flat-button {
    float: none;
    display: block;
    margin: 20px auto 0 auto;
    width: 150px;
  }

  .home-page .image-container {
    background-color: none;
    float: none;
    margin-left: 30px;
    width: 110%;
    height: 500px;
  }

  .home-page .image {
    height: auto;
    width: fit-content;
  }
}
